:root {
    --font-h1: "Libre Franklin", sans-serif;
    --font-h3: "Trirong", serif;
    --font-base: "Telex", sans-serif;
    --color-font-h1: white;
    --color-font-h3: white;
    --color-font-p: white;
    --color-links: white;
    --bg-color: rgb(21, 21, 29);
}



h1 {
    font-family: var(--font-h1);
    color: var(--color-font-h1);    
}

h3 {
    font-family: var(--font-h3);
    color: var(--color-font-h3);
}

p {
    font-family: var(--font-base);
    color: var(--color-font-p);
}

/* reseteando css */
body {
    margin: 0;
    padding:0;
}

a {
    /* text-decoration: none;
    color: var(--color-links);
    font-family: var(--font-base);
     */
     color: var(--color-font-p); /* Color inicial del enlace */
     text-decoration: none;
     transition: color 0.2s ease-in-out, text-shadow 0.2s ease-in-out;
}

a:hover {
    
    /* color: var(--color-font-p);
    transition: color 2.7s ease-in-out, text-shadow 2.7s ease-in-out;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.5); */
    color: var(--color-font-p);
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

* {
    box-sizing: border-box;
}

body {
	background-color: var(--bg-color);
}
