---
import Layout from '../layouts/Layout.astro';
import GempDev from '../components/GempDev.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout title="gempDev">
	<main>
		<GempDev />
		<Navbar />
	</main>
</Layout>

<style>
	main {
		
		border: 2px solid white;
	}
	
</style>
