---
---
<section>
    <h1>
        gempDev
    </h1>  
</section>

<style>
    section {
        
        text-align: center;
        height: 40svh;
        font-size: 80px; 
        box-sizing: border-box;
        border: 2px solid white;
    }
</style>