---
---
<nav>
    <ul>        
        <li><a href="/htmlPage/introHtml">HTML</a></li>
        <li><a href="/cssPage/introCSS">CSS</a></li>
        <li><a href="/JSPage/introJS">JavaScript</a></li>
        <li><a href="/astroPage/introAstro">Astro</a></li>
        <li><a href="/pythonPage/introPython">Python</a></li>
        <li><a href="/postgreSQLPage/introPostgreSQL">PostgreSQL</a></li>        
        <li><a href="/fastapiPage/introFastapi">Fastapi</a></li>
    </ul>
</nav>

<style>
nav {
    list-style-type: none;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
</style>