---
---
<nav>
    <ul>
        
        <li><a href="/htmlPage">HTML</a></li>
        <li><a href="/cssPage">CSS</a></li>
        <li><a href="/jsPage">JS</a></li>
        <li><a href="/astroPage">Astro</a></li>
    </ul>
</nav>

<style>
    nav {
        display: flex;
        height: 40svh;
        border: 2px solid white;
        list-style-type: none;
        justify-content: center;
        align-items: center;
        
}
</style>