---
---
<nav>
    <ul>        
        <li><a href="/htmlPage">HTML</a></li>
        <li><a href="/cssPage">CSS</a></li>
        <li><a href="/javaScriptPage">JavaScript</a></li>
        <li><a href="/astroPage">Astro</a></li>
        <li><a href="/pythonPage">Python</a></li>
        <li><a href="/postgreSQLPage">PostgreSQL</a></li>        
        <li><a href="/fastapiPage">Fastapi</a></li>
    </ul>
</nav>

<style>
    nav {
        list-style-type: none;
        justify-content: center;
        align-items: center;

}
ul {
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
}

</style>