---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="HTML">
    <main>
        <h1>
            HTML
        </h1>
        <h3>Estructura de un proyecto</h3>    
        <p>

└──nombre_project
    index.html
    └── pages
    └── assets
        ├── css
        ├── js
        └── media
            ├── audio
            ├── images
            └── video
        </p>
    </main>
</Layout>